.section__button {
  background-color: rgb(10, 95, 95);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Monserrat" sans-serif;
  font-size: 16px;
}
.section__button:hover {
  background-color: rgb(26, 109, 109);
}
